{% extends "base.html" %}
{% from "macros/contact_macros.html" import 
    contacts_page_header,
    contacts_search_filters,
    contacts_table,
    new_contact_modal,
    edit_contact_modal
%}

{% block title %}Contacts - CDE Prosperity{% endblock %}

{% block content %}
{{ contacts_page_header() }}
{{ contacts_search_filters(search, account_id, accounts) }}
{{ contacts_table(contacts, pagination) }}

{{ new_contact_modal(accounts) }}
{{ edit_contact_modal(accounts) }}

{% include 'scripts/contact_list_scripts.html' %}

{% endblock %}
