{% extends "base.html" %}
{% from "macros/interaction_macros.html" import 
    interactions_page_header,
    interactions_stats_cards,
    interactions_filters,
    interactions_table,
    add_interaction_modal,
    view_interaction_modal,
    edit_interaction_modal
%}

{% block title %}Interactions - CDE Prosperity{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ interactions_page_header() }}
    {{ interactions_stats_cards(stats) }}
    {{ interactions_filters(filters) }}
    {{ interactions_table(interactions) }}
</div>

{{ add_interaction_modal() }}
{{ view_interaction_modal() }}
{{ edit_interaction_modal() }}

{% include 'scripts/interaction_list_scripts.html' %}

{% endblock %}
