{% extends "base.html" %}
{% from "macros/processing_report_macros.html" import 
    processing_reports_page_header,
    reports_table,
    reports_empty_state,
    processing_reports_styles
%}

{% block title %}Processing Reports - DLA CRM{% endblock %}

{% block head %}
{{ super() }}
{{ processing_reports_styles() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ processing_reports_page_header() }}
    
    {% if reports %}
        {{ reports_table(reports) }}
    {% else %}
        {{ reports_empty_state() }}
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% include 'scripts/processing_reports_scripts.html' %}
{% endblock %}
