{% extends "base.html" %}
{% from "product_macros.html" import product_header, product_information_card, qpl_manufacturers_card, vendors_card, opportunities_card, payment_histories_card, quotes_card, quick_stats_sidebar, pricing_information_sidebar, activity_timeline_sidebar %}
{% from "product_scripts.html" import product_styles, product_external_dependencies, product_javascript_functions %}

{% block title %}{{ product.name }} - Product Details{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Header -->
    {{ product_header(product) }}

    <div class="row">
        <!-- Main Product Information -->
        <div class="col-lg-8">
            <!-- Product Details Card -->
            {{ product_information_card(product) }}

            <!-- QPL Manufacturers -->
            {{ qpl_manufacturers_card(product, qpl_manufacturers) }}

            <!-- Vendors Section -->
            {{ vendors_card(vendors) }}

            <!-- Opportunities Table -->
            {{ opportunities_card(opportunities) }}

            <!-- Payment Histories -->
            {{ payment_histories_card(opportunities) }}

            <!-- Quotes Table -->
            {{ quotes_card(quotes) }}
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4">
            <!-- Quick Stats -->
            {{ quick_stats_sidebar(product, qpl_manufacturers, opportunities, vendors, quotes) }}

            <!-- Pricing Information -->
            {{ pricing_information_sidebar(product) }}

            <!-- Activity Timeline -->
            {{ activity_timeline_sidebar(product, qpl_manufacturers) }}
        </div>
    </div>
</div>

{{ product_external_dependencies() }}

{{ product_styles() }}

{{ product_javascript_functions(product) }}
{% endblock %}
