{% extends "base.html" %}
{% from "macros/product_macros.html" import 
    products_page_header,
    products_search_filters,
    products_table,
    products_empty_state,
    new_product_modal,
    view_product_modal,
    edit_product_modal,
    products_styles
%}

{% block title %}Products - CDE Prosperity{% endblock %}

{% block head %}
{{ super() }}
{{ products_styles() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ products_page_header() }}
    
    {{ products_search_filters(search, fsc) }}

    {% if products %}
        {{ products_table(products) }}
    {% else %}
        {{ products_empty_state() }}
    {% endif %}
</div>

{{ new_product_modal() }}
{{ view_product_modal() }}
{{ edit_product_modal() }}
{% endblock %}

{% block scripts %}
{% include 'scripts/product_scripts.html' %}
{% endblock %}





