{% extends "base.html" %}
{% from "macros/project_macros.html" import project_header, basic_info, vendor_info, parent_project_info, sub_projects_table, related_tasks_table, related_opportunities_card, related_products_card, project_notes_card, quick_actions_card, project_details_sidebar, notes_sidebar %}

{% block title %}{{ project.name }} - CDE Prosperity{% endblock %}

{% block content %}
{{ project_header(project) }}

<!-- Project Summary -->
<div class="row">
    <div class="col-xl-8">
        <!-- Basic Information -->
        {{ basic_info(project) }}

        <!-- Related Information -->
        <div class="row">
            {{ vendor_info(vendor) }}
            {{ parent_project_info(parent_project) }}
        </div>

        <!-- Sub-projects -->
        {{ sub_projects_table(sub_projects) }}

        <!-- Related Tasks -->
        {{ related_tasks_table(related_tasks, project) }}

        <!-- Related Opportunities -->
        {{ related_opportunities_card(project) }}

        <!-- Related Products -->
        {{ related_products_card(project) }}

        <!-- Project Notes -->
        {{ project_notes_card(project) }}
    </div>

    <!-- Sidebar -->
    <div class="col-xl-4">
        <!-- Quick Actions -->
        {{ quick_actions_card(project) }}

        <!-- Project Details -->
        {{ project_details_sidebar(project) }}

        <!-- Notes -->
        {{ notes_sidebar(project) }}
    </div>
</div>

{% include "scripts/project_scripts.html" %}
{% endblock %}
