{% extends "base.html" %}
{% from "qpl_macros.html" import qpl_header, basic_info, vendors_table, quick_actions_card, associated_product_card, associated_account_card, edit_qpl_modal %}

{% block title %}{{ qpl.manufacturer_name }} - QPL Detail{% endblock %}

{% block content %}
{{ qpl_header(qpl) }}

<!-- QPL Information -->
<div class="row">
    <div class="col-lg-8">
        <!-- Basic Information Card -->
        {{ basic_info(qpl) }}

        <!-- Associated Vendors Table -->
        {{ vendors_table(associated_vendors, qpl) }}
    </div>

    <!-- Sidebar -->
    <div class="col-lg-4">
        <!-- Quick Actions Card -->
        {{ quick_actions_card(qpl) }}

        <!-- Associated Product Card -->
        {{ associated_product_card(qpl) }}

        <!-- Associated Account Card -->
        {{ associated_account_card(qpl) }}
    </div>
</div>

<!-- Edit QPL Modal -->
{{ edit_qpl_modal(qpl, products, accounts) }}

{% endblock %}

{% block scripts %}
{% include "scripts/qpls_scripts.html" %}
{% endblock %}
