{% extends "base.html" %}
{% from 'macros/quote_macros.html' import quote_header, status_update_buttons, quote_details_card, vendor_info_card, customer_info_card, product_info_card, opportunity_info_card, activity_timeline, edit_quote_modal %}

{% block title %}Quote {{ quote.request_number }} - CDE Prosperity{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Header -->
    {{ quote_header(quote) }}

    <!-- Status Update Buttons -->
    {{ status_update_buttons(quote) }}

    <div class="row">
        <!-- Quote Details -->
        <div class="col-lg-8">
            {{ quote_details_card(quote) }}
        </div>
        
        <!-- Sidebar -->
        <div class="col-lg-4">
            <!-- Account Information -->
            {{ vendor_info_card(account, contact, quote) }}
            
            <!-- Government Buyer Information -->
            {{ customer_info_card(customer_account, customer_contact, quote) }}
            
            <!-- Product Information -->
            {{ product_info_card(quote, product) }}
            
            <!-- Linked Opportunity -->
            {{ opportunity_info_card(opportunity, quote) }}
            
            <!-- Activity Timeline -->
            {{ activity_timeline(quote, account, opportunity) }}
        </div>
    </div>
</div>

<!-- Edit Quote Modal -->
{{ edit_quote_modal(quote, account, contact, opportunity) }}

<!-- Include Quote Scripts -->
{% include 'scripts/quotes_scripts.html' %}
{% endblock %}
