{% extends "base.html" %}
{% from "macros/task_macros.html" import 
    tasks_page_header,
    task_lifecycle_bar,
    task_stats_cards,
    task_search_filters,
    tasks_table,
    tasks_empty_state,
    add_task_modal,
    tasks_styles
%}

{% block title %}Tasks - CDE Prosperity{% endblock %}

{% block head %}
{{ super() }}
{{ tasks_styles() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ tasks_page_header() }}
    
    {{ task_lifecycle_bar(stats) }}
    
    {{ task_stats_cards(stats) }}
    
    {{ task_search_filters(status, priority, due_date_range, owner, search) }}

    {% if tasks %}
        {{ tasks_table(tasks, today) }}
    {% else %}
        {{ tasks_empty_state() }}
    {% endif %}
</div>

{{ add_task_modal() }}
{% endblock %}

{% block scripts %}
{% include 'scripts/task_scripts.html' %}
{% endblock %}
